.todoPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__card {
    padding: 15px;
    margin: 10px;

    width: 300px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgb(154, 153, 153);
    border-radius: 15px;
  }
}